* {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

body {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

ul { list-style-type: none; }

.tabs-header {
  display: flex;
  cursor: default;
  background-color: #eee;
  border-radius: 4px;
}

.tabs__item {
  padding: 7px 15px;
}

.tabs__item-active {
  background-color: #0366d6;
  color: white;
}

.tabs__item:not(:last-child) {
  border-right: 1px solid rgb(214, 214, 214);
}

.tabs__item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tabs__item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tabs-content {
  padding: 10px 0;
}

.tabs-content li {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tabs-content li:hover {
  background-color: #eee;
}

.tabs-content__icon {
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.tabs-content li div {
  margin-left: 20px;
}

.tabs-content__title { font-weight: bold; }

.tabs-content li:not(:first-child) {
  border-top: 1px solid #eee;
}