* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

ul { list-style-type: none; }

.tabs {
  display: flex;
  /* justify-content: space-between; */
  cursor: default;
  background-color: #eee;
  border-radius: 3px;
}

.tabs__item {
  padding: 5px 10px;
}

.tabs__item-active {
  background-color: #0366d6;
  color: white;
}

.tabs__item:not(:last-child) {
  border-right: 1px solid rgb(214, 214, 214);
}